<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo-nav.jpg" alt="">
    <h1>Portal IronMedic</h1>
  </div>
  <div>
    <a href="/home">Home</a>
    <a href="/agenda">Agenda</a>
    <a href="/consultas">Consultas</a>
    <a href="/dados">Dados</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
<section class="container-consultas-middle-section" role="PACIENTE" user="{{user._id}}">
  <a href="/consultas/criar-consulta">Criar consulta</a>
  <h3>Consultas futuras</h3>
  <table class="inicio-tableta-consultas-realizar" paciente>
    <tr class="table-title">
      <td>Data</td>
      <td>Hora</td>
      <td>Médico</td>
      <td>Descrição</td>
      <td>Exames</td>
      <td>Status</td>
    </tr>
    {{#each consultasRealizar}}
      <tr class="consultasRealizar" id="{{this.id}}">
        <td>{{this.date}}</td>
        <td>{{this.hora}}</td>
        <td>{{this.medico.name}}</td>
        <td>{{this.descricao}}</td>
        <td>{{this.exames}}</td>
        <td>{{this.status}}</td>
      </tr>
    {{/each}}
  </table>
  <h3>Consultas realizadas</h3>
  <table class="inicio-tableta-consultas-realizar">
    <tr class="table-title">
      <td>Data</td>
      <td>Hora</td>
      <td>Médico</td>
      <td>Descrição</td>
      <td>Exames</td>
      <td>Status</td>
    </tr>
    {{#each consultasRealizadas}}
      <tr class="consultasRealizadas" id="{{this.id}}">
        <td>{{this.date}}</td>
        <td>{{this.hora}}</td>
        <td>{{this.medico.name}}</td>
        <td>{{this.descricao}}</td>
        <td>{{this.exames}}</td>
        <td>{{this.status}}</td>
      </tr>
    {{/each}}
      </table>
</section>

<footer class="footer-home">
  
</footer>
<script src="/javascripts/consultas-paciente.js"></script>
