<nav class="nav-home">
  <div class="nav-left">
    <img src="/images/logo-nav.jpg" alt="">
    <h1>Portal IronMedic</h1>
  </div>
  <div>
    <a href="/home">Home</a>
    <a href="/agenda">Agenda</a>
    <a href="/consultas">Consultas</a>
    <a href="/dados">Dados</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
<section class="container-consultas-middle-section">
  <div>
    <form id="form-sign-up" action="/consultas/editar/realizar" method="POST">
      <div>
        <input type="hidden" name="_id" value="{{_id}}" >
      </div>
      <div>
        <label for="CRM">Médico</label><br>
        <input type="text" value="{{medico.name}}" disabled>
      </div>
      <div>
        <label for="date">Data</label><br>
        <input type="date" name="date" value="{{date}}">
        </div>
      <div>
        <label for="hora">Hora</label><br>
        <input type="time" name="hora" value="{{hora}}">
      </div>
      <div>
        <label for="descricao">Descrição</label><br>
        <input type="text" name="descricao" value="{{descricao}}">
      </div>
      <div>
        <label for="exames">Exames</label><br>
        <input type="text" name="exames" value="{{exames}}">
      </div>
      <div>
        <button type="submit">Editar consulta</button>
      </div>
    </form>
  </div>
  <div>
    {{#if errorMessage}}
      <span>{{errorMessage}}</span>
    {{/if}}
  </div>
</section>
<footer class="footer-home">
</footer>


